.btn-brand {
  background-color: #111430;
  border-color: transparent;
  font-weight: 600;
  color: white !important;
  text-align: center;
}

.btn-dashboard-brand {
  background-color: #009444;
  border-color: transparent;
  font-weight: 600;
  color: white !important;
  text-align: center;
}

